.registration-fieldset .registration-id {
    font-size: 1rem;
}
#home-watermark{
    display: none;
}

.subtextsearch{
	display: none;
}

#home-search-form{
	padding-right: 45%;
}

@media screen and (max-height:500px) {
	#home-nav {
		display:none
	}
	.subtextsearch{
		display: block;
		position:relative;
		z-index:901;
		margin-left:0rem;
		line-height:1;
	}
	#home-intro .box, #home-events .box, #home-agents .box, #home-projects .box, #home-spaces .box, #home-developers .box {
   	margin: 0 auto 0 0 !important;
   /* margin-top: 5em;*/
	}	  
	.home-entity {
    	padding-left: 0px;
	}
}
@media screen and (max-width:768px) {
	#home-nav {
		display:none
	}
	.subtextsearch{
		display: block;
		position:relative;
		z-index:901;
		margin-left:0rem;
		line-height:1;
	}
	#home-intro .box, #home-events .box, #home-agents .box, #home-projects .box, #home-spaces .box, #home-developers .box {
   	margin: 0 auto 0 0 !important;
   /* margin-top: 5em;*/
	}	  
	.home-entity {
    	padding-left: 0px;
	}
}

@media screen and (max-height:500px) {
	#home-intro .branding {
		display:none
	}
}

@media screen and (max-width:768px) {
	#home-intro .branding {
		display:none
	}
}

#home-intro .branding {
    float: none;
    /*width: 24em;*/
    max-width: 20em;
    position: fixed;
    left: 40px;
    background: rgba(0,0,0,0.35);
    min-height: 100vh;
    padding: 1em;
    padding-top: 8em;
}

#home-intro {
	min-height:calc(100vh);
	background:transparent url(../img/home02.jpg) no-repeat top;
	background-size:cover
}

#home-intro .box{
	/*margin-left: 30% !important;
	padding-top: 8em !important;*/
	margin-left: 30%;
	padding-top: 8em;
}

#home-intro .box, #home-events .box, #home-agents .box, #home-projects .box, #home-spaces .box, #home-developers .box {
    float: none;
    margin: 0 auto 0 30%;
}

.home-entity .random-feature {
    display: none;
}

#home-intro .view-more {
	position:relative;
	z-index:901;
	margin-left:-2rem;
	font-size:4rem;
	text-align:center;
	line-height:1;
	top:3em
}
#home-events {
	background:transparent url(../img/home04.jpg) no-repeat top;
	background-size:cover
}
#home-events .abas li.active {
	border-bottom-color:#B2BA11
}
#home-agents {
	background:transparent url(../img/home03.jpg) no-repeat top;
	background-size:cover
}
#home-agents .abas li.active {
	border-bottom-color:#00A4C2
}
#home-spaces {
	background:transparent url(../img/home01.jpg) no-repeat top;
	background-size:cover
}
#home-spaces .abas li.active {
	border-bottom-color:#00A4C2
}
#home-projects {
	background:transparent url(../img/home05.jpg) no-repeat top;
	background-size:cover
}
#home-projects .abas li.active {
	border-bottom-color:#00A4C2
}
#home-developers {
	background:transparent url(../img/home06.jpg) no-repeat top;
	background-size:cover
}

.dropdown .submenu-dropdown {
	min-width:102%
}
/*#lista {
    margin-top:0 !important;
  }*/
  
  /*colores sidebar */
  .sidebar.event {
	border-top-color:#B2BA11
}
.sidebar.event:before {
	border-top-color:#B2BA11 !important
}
.sidebar.event .event-project-link,.sidebar.event .widget-list-item>a {
	color:#B2BA11;
}
.sidebar.agent {
	/*00A4C2*/
	border-top-color:#00A4C2;
}
.sidebar.agent:before {
/*00A4C2*/	
	border-top-color:#00A4C2 !important;
}
.sidebar.agent .widget-list-item>a {
/*00A4C2*/	
	color:#00A4C2;
}
.sidebar.space {
	border-top-color:#E84066
}
.sidebar.space:before {
	border-top-color:#E84066 !important
}
.sidebar.space .widget-list-item>a {
	color:#E84066;
}
.sidebar.project,.sidebar.registration {
	border-top-color:#F18900;
}
.sidebar.project:before,.sidebar.registration:before {
	border-top-color:#F18900 !important;
}
.sidebar.project .widget-list-item>a,.sidebar.registration .widget-list-item>a {
	color:#F18900;
}

.sidebar.seal {
  border-top-color: #f18900; }
  .sidebar.seal:before {
    border-top-color: #f18900 !important; }
  .sidebar.seal .widget-list-item > a {
    color: #f18900; }
    
    /*colores header*/
#filter-events {
	background:#B2BA11;
	/*background:#B2BA11*/
}
#filter-agents {
	 background:#00A4C2;
	/*background:#00A4C2*/
}
#filter-spaces {
	background:#E84066;
	/*E84066*/
}
#filter-projects {
	background:#F18900
	/*F18900*/
}


#event-list-header {
	border-left-color:#B2BA11;
	border-right-color:#B2BA11
}
#agent-list-header {
/*00A4C2*/	
	border-left-color:#00A4C2;
	border-right-color:#00A4C2;
}
#space-list-header {
	border-left-color:#E84066;
	border-right-color:#E84066
}
#project-list-header {
	border-left-color:#F18900;
	border-right-color:#F18900;
}

.event .objeto:hover h1 a,.event .objeto-meta a {
	color:#B2BA11;
}
.agent .objeto:hover h1 a,.agent .objeto-meta a {
/*00A4C2*/	
	color:#00A4C2;
}
.space .objeto:hover h1 a,.space .objeto-meta a {
	color:#E84066;
}
.project .objeto:hover h1 a,.project .objeto-meta a {
	color:#F18900;
}

article.agent .header-image {
	/*00A4C2*/
	background-color:#00A4C2;
}
article.space .header-image {
	background-color:#E84066
}
article.event .header-image {
	background-color:#B2BA11
}
article.project .header-image,article.registration .header-image {
	background-color:#F18900
}
.header-content .project-type,.header-content .registration-type {
	color:#F18900;
}
.header-content .agent-type {
/*00A4C2*/	
	color:#00A4C2;
}
.header-content .event-type {
	color:#B2BA11;
}
.header-content .space-type {
	color:#E84066;
}

/*Tags*/ /*DE AQUÍ HAY QUE SACAR LO QUE NO ES COLOR*/
.tag,.tag-selected {
	background-color:#fff;
	color:#000;
	text-transform:uppercase;
	-webkit-transition:all .3s;
	transition:all .3s;
	cursor:pointer
}
.tag:hover,.tag-selected:hover {
	color:#fff;
	background:#000;
	text-decoration:none
}
.tag-selected {
	padding-right:.3rem
}
.tag-selected:after {
	content:"M";
	display:inline-block;
	width:1rem;
	height:1rem;
	margin-top:-3px;
	font-size:1rem;
	line-height:1rem;
	font-family:"ElegantIcons";
	vertical-align:middle;
	text-transform:none
}
.tag-event {
	background-color:#B2BA11
}
.tag-agent {
	/*00A4C2*/
	background-color:#00A4C2;
}
.tag-space {
	background-color:#E84066;
}
.tag-project {
	background-color:#F18900;
}
.tag-event,.tag-agent,.tag-space,.tag-project {
	color:#fff;
}
.tag-clear {
	color:#fff;
	background:#000
}

.event .objeto:hover h1 a, .event .objeto-meta a {
  color: #B2BA11; }

.agent .objeto:hover h1 a, .agent .objeto-meta a {
  color: #00A4C2; }

.space .objeto:hover h1 a, .space .objeto-meta a {
  color: #E84066; }

.project .objeto:hover h1 a, .project .objeto-meta a {
  color: #f18900; }

.seal .objeto:hover h1 a, .seal .objeto-meta a {
  color: #f18900; }

.objeto-meta a.tag, .objeto-meta a.tag-selected {
  color: #fff; }

.subsite .objeto:hover h1 a, .subsite .objeto-meta a {
  color: #f18900; }
  
/*DE AQUÍ TENGO QUE DEJAR SÓLO LOS COLORES*/
#entities-menu-event.active, #entities-menu-event:hover, #entities-menu-event.current-entity-parent {
  border-top-color: #B2BA11;
  color: #B2BA11; }
  #entities-menu-event.active a, #entities-menu-event:hover a, #entities-menu-event.current-entity-parent a {
    color: #B2BA11; }
#entities-menu-event.active:after {
  content: "";
  position: absolute;
  top: -8px;
  border-bottom: 8px solid #B2BA11;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; }

#entities-menu-agent.active, #entities-menu-agent:hover, #entities-menu-agent.current-entity-parent {
  border-top-color: #00A4C2;
  color: #B2BA11; }
  #entities-menu-agent.active a, #entities-menu-agent:hover a, #entities-menu-agent.current-entity-parent a {
    color: #00A4C2; }
#entities-menu-agent.active:after {
  content: "";
  position: absolute;
  top: -8px;
  border-bottom: 8px solid #00A4C2;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; }

#entities-menu-space.active, #entities-menu-space:hover, #entities-menu-space.current-entity-parent {
  border-top-color: #E84066;
  color: #E84066; }
  #entities-menu-space.active a, #entities-menu-space:hover a, #entities-menu-space.current-entity-parent a {
    color: #E84066; }
#entities-menu-space.active:after {
  content: "";
  position: absolute;
  top: -8px;
  border-bottom: 8px solid #E84066;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; }

#entities-menu-project.active, #entities-menu-project:hover, #entities-menu-project.current-entity-parent {
  border-top-color: #f18900;
  color: #f18900; }
  #entities-menu-project.active a, #entities-menu-project:hover a, #entities-menu-project.current-entity-parent a {
    color: #f18900; }
#entities-menu-project.active:after {
  content: "";
  position: absolute;
  top: -8px;
  border-bottom: 8px solid #f18900;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; }

#entities-menu-subsite.active, #entities-menu-subsite:hover {
  border-top-color: #f18900;
  color: #f18900; }
  #entities-menu-subsite.active a, #entities-menu-subsite:hover a {
    color: #f18900; }
#entities-menu-subsite.active:after {
  content: "";
  position: absolute;
  top: -8px;
  border-bottom: 8px solid #f18900;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; }

#entities-menu-seal.active, #entities-menu-seal:hover, #entities-menu-seal.current-entity-parent {
  border-top-color: #f18900;
  color: #f18900; }
  #entities-menu-seal.active a, #entities-menu-seal:hover a, #entities-menu-seal.current-entity-parent a {
    color: #f18900; }
#entities-menu-seal .active:after {
  content: "";
  position: absolute;
  top: -8px;
  border-bottom: 8px solid #f18900;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; }
  
/*color nav bar*/
#nav-intro {
  background: #1c5690; }

#nav-events {
  background: #B2BA11; }

#nav-agents {
  background: #00A4C2; }

#nav-spaces {
  background: #E84066; }

#nav-projects {
  background: #f18900; }

#nav-subsite {
  background: #f18900; }

#nav-seals {
  background: #f18900; }

#nav-developers {
  background: #9966cc; }
  
/*aumento el alto de los widgets derechos*/  
.widget .slimScrollDiv {
max-height: 400px !important;}

ul.widget-list.js-slimScroll{
		max-height: 400px !important;
}

.tag-opportunity {
    background-color: #F232D4;
}
